* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  body {
      background: chartreuse;
      
  }
  .large-font {
    padding: 40px;  
    font-size: 4.5em;
    text-align:center;
  }
  .start-button {
 
    font-size: 2.5em;
    text-align:center;
  }
  
  
  button {
    background: radial-gradient(circle, rgb(21, 180, 185) 0%, rgba(177, 187, 33, 0.954) 100%);
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }

  
  
 